/* Global Styles */

* {
    font-family: 'Roboto', sans-serif;
}

.logo {
    display: inline-flex;
    height: 40px;
}

/* Background */
.background {
    background-color: #303030;
    min-height: 100vh;
}

/* Header */
.header {
    background-color: #222;
    height: 50px;
    justify-content: unset;
}

/* Footer Styling */
.footer {
    background-color: #5e17eb;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


/* Main Container */
.container {
    background-color: #424242;
    border-radius: 10px;
    color: white;
    padding: 20px;
}

.footer-text {
    margin: 3px;
    padding: 3px;
}

.container-fluid {
    padding: 10px;
    justify-content: left;
    background-color: #5e17eb;

}
/* Form Styling */
.registration-form,
.login-form {
    max-width: 500px;
    margin: 0 auto;
}

.form-floating {
    width: 100%;
}

.form-floating > label {
    color: #666;
}
.nav {
    margin-top: 7%;
    justify-content: left;


}


.navbar-nav {
    display: flex;
}
/*
.my-nav:hover {
    background-color: white;
    padding: 6px;
    border-width: 2px;
    border-bottom: 2px solid #5e17eb;
}
*/


.my-nav .nav-link {
    display: block;
    height: 100%;
    color: white;
    font-size: 1.2rem;
    padding: 6px 12px;
}
.my-nav:hover .nav-link {
    background-color: white;
    color: #5e17eb;
    border-radius: 5px;
}

/* Custom Button Styles */
.my-btn {
    color: white;
    background-color: #5e17eb;
    border: #6e2feb;
}


.my-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


.my-btn2 {
    color: white;
    background-color: #6e2feb;
    border: #5e17eb;
}

.my-btn2:hover {
    background-color: #430bb1;
    color: white;
    border: #6e2feb;
}

.my-btn2:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Headers */
.reg-header {
    text-align: center;
}

/* Registration Text */
.reg-txt {
    text-align: center;
}



.hearts {
    display: inline;
    color: red;
}

.footer-link {
    color: white;
}

.song-title {
    text-align: center;
    font-weight: bolder;
    color: #e2e8f0;
}

.song-text {
    font-weight: bold;
    color: #94a3b8;
}

.song {
    display: flex;
    justify-content: center;
}
.song-img {
    align-items: center;
    margin: auto;
    max-width: 75%;
    max-height: 75%;
    padding: 10px;
    border-radius: 1rem;
    border: 20px #5e17eb;
}

.song-card {
    background-color: #004E98;
}

.song-footer {
    background-color: #004E98;
}

.song-container {
    background-color: #303030;
}

.song-author {
    text-align: center;
}
.song-control {
    margin: -40px auto auto;
    min-width: 73.5%;
    border-radius:1rem;
    justify-content: center;
}

.review-text {
    font-weight: bold;
    color: #94a3b8;
    padding-left: 15%;
}
