{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <h1>Přidání Hudby</h1>
        <form class="form-horizontal" enctype="multipart/form-data" action="/MusicHub/public/index.php?page=add" method="post">
            <input type="hidden" name="csrf" value="{{ csrf_token }}">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="inputTitle" name="title" required>
                <label for="inputTitle">Název</label>
                <div class="invalid-feedback"></div>
                <div class="valid-feedback"></div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="inputArtist" name="artist" required>
                <label for="inputArtist">Interpret</label>

            </div>

            <div class="col-form-label">
                <label for="genreSelect" class="form-label">Žánr</label>
                <select class="form-select" id="genreSelect" name="genre-id">
                    {% for genre in genres %}
                    <option value="{{ genre.id }}" >{{ genre.genre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-form-label">
                <label for="year" class="form-label">Rok vydání</label>
                <input type="number" class="form-control" id="year" name="release-year" required>
            </div>
            <div class="form-floating mb-3">
                <input type="file" class="form-control" id="coverImage" name="coverImage" required>
                <label for="coverImage">Obal alba</label>
            </div>
            <div class="form-floating mb-3">
                <input type="file" class="form-control" id="musicUpload" name="musicUpload" required>
                <label for="musicUpload">Zvuková stopa</label>
            </div>
            <button type="submit" class="btn btn-primary my-btn w-100">Odeslat</button>
        </form>
    </div>
{% endblock %}