{% extends 'layout.html.twig' %}
{% block title %}Všechny songy zvalidovány{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card p-5 text-center shadow-sm">

            <h1 class="mb-3">Dobrá práce!</h1>
        </div>
    </div>
{% endblock %}